
body {

    background-color: black;


}
 #drop {
  
  margin: 0 auto;
  display: block;
    max-width: 100%;
    height: auto;
}
#drop_img{
  margin:0 auto;
  display: block;
}



  
  
  


  
  

